root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{json,yml,yaml}]
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_while = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = false:none
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = when_on_single_line:warning
dotnet_sort_system_directives_first = true
dotnet_style_prefer_simplified_interpolation = true:warning
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:warning
dotnet_style_prefer_foreach_explicit_cast_in_source = true:warning
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_style_require_expression_body_for_accessors = false:none
dotnet_style_require_expression_body_for_methods = false:none
dotnet_style_require_expression_body_for_constructors = false:none
dotnet_style_require_expression_body_for_operators = false:none
dotnet_style_require_expression_body_for_properties = false:none
dotnet_style_require_expression_body_for_indexers = false:none
dotnet_style_readonly_field = true:warning
csharp_style_var_elsewhere = false:none
dotnet_code_quality_unused_parameters = all:warning

[*.cs]
# Nombre de archivo de la clase principal
dotnet_naming_rule.types_should_match_file_name.severity = warning
dotnet_naming_rule.types_should_match_file_name.symbols = types
dotnet_naming_rule.types_should_match_file_name.style = file_name_style
dotnet_naming_symbols.types.applicable_kinds = class,struct,interface,enum,delegate
dotnet_naming_style.file_name_style.capitalization = pascal_case
dotnet_naming_style.file_name_style.required_suffix = .cs